body{
  font: 15px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
 margin: 0;
 padding: 0;
}
/*Images*/

img.align-center{
  display: block;
  margin: 0px auto;
}

img.medium{
  width: 250px;
  height: 250px;
}

.medium-2{
  width: 450px;
  height: 250px;
}

/*End*/

.button_1{
  height: 38px;
  background: #F39C12;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark{
  padding: 15px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dark-1{
  background: #D35400;
}

.dark-2{
  background: #D35400;
}

/*Header**/
header{
  background: #D35400;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ffffff 3px solid;
}

/*Links*/
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;

}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #F39C12;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*Showcase*/

#showcase{
  min-height: 400px;
  background: -400px;
  text-align: center;
  color: #F4D03F;
  background: url('../img/contact.jpeg') no-repeat 0 -170px;
}

#showcase .showcase-pic{
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #D35400;
  border-top: #ffffff 3px solid;
}

#newsletter h1{
  float: center;
}

/*Boxes*/

#boxes .box2{
  float: center;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin-top: 20px
}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

/*Pricing box*/

.col{
  float: left;
  width: 33.3%;
  padding: 8px;
  box-sizing: border-box;
}

.price-box{
  background: #fff;
  color: #555;
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.price-box:hover, .price-box.best{
  box-shadow: 0 10px 15px 0 #000;
}

.price-box .header{
  background-color: #111;
  color: #fff;
  font-size: 25px;
}

.price-box .header.header-bronze{
  background-color: #AF601A;
}

.price-box .header.header-sliver{
  background-color: #707B7C;
}

.price-box .header.header-gold{
  background-color: #B7950B;
}

.price-box li{
  padding: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.price-box .emph{
  background-color: #f4f4f4;
  font-ize: 20px;
}


/*BTN*/


.btn{
  color: #fff;
  font-size: 1rem 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  width: 100%;

}

.btn-a{
  background:  #F5B041;
}

.btn-b{
  background:  #3cba54;
}

.btn-c{
  background:  #0275b5;
}

.btn-e{
  background:  #3b5998;
}

/*section*/

.section{
  padding: 20px 0;
  text-align: center;
}

.section-a{
  background: #f4f4f4;
  color: #000;
}

.section-b{
  background:  #F5B041;
  color: #fff;
  border-top:  #fff 3px solid;
}

/*Sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/*Main-col*/
article#main-col{
  float: left;
  width: 65%;
}

/*Our Work*/
ul#Ourwork li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}


footer{
  padding: 20px;
  margin-top: 20px;
  color: #FFFFFF;
  background-color: #F39C12;
  text-align: center;
}

footer .footer1{
  color: #D3D3D3;
}

/*Media Queries*/
@media(max-width: 768px) {
  header#branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,.col,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button, .quote button{
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width: 100%;
    margin-bottom: 5px;
  }
}
